# top-most EditorConfig file
root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
indent_style = tab
indent_size = 4

# tab indentation by default
[*.{js,jsx,ts,tsx}]
indent_style = tab
indent_size = 4

# space indentation for some specific files
[package.json]
indent_style = space
indent_size = 2

[io-package.json]
indent_style = space
indent_size = 4

[*.{yml,yaml,md}]
indent_style = space
indent_size = 2

[config/**/*.json]
indent_style = tab
indent_size = 4

# Indent code blocks in the documentation with 4-size tabs
[docs/**/*.md]
indent_style = tab
indent_size = 4
