node_modules/
/packages/*/package-lock.json

# Yarn config and stuff - we're not using Zero-Installs
# because that would blow up the repo size even more
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

# compiled test-files
*.test.js
/.nyc_output
coverage/

# npm package files
zwave-js-*.tgz
zwave-js.tgz
.monopack/

# ZWave cache
*/cache
packages/*/cache
/test/config

# Temporary (import) config files
.tmp
.tmpoh/
.tmpozw/
.tmpzwa/

# Compiled source files
**/build
**/*.tsbuildinfo
*.map

# Tools cache
.turbo/
.eslintcache

.secrets
.test-payloads

test/.*-audit.json
test/*_logrotate.json
test/zwavejs_*.log
.DS_Store
