# Javascript Node CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-javascript/ for more details
#

# Define the used images
node6: &node6
  working_directory: &workdir_node6 ~/node-zwave-js/node6
  docker:
    - image: circleci/node:6

node8: &node8
  working_directory: &workdir_node8 ~/node-zwave-js/node8
  docker:
    - image: circleci/node:8

node10: &node10
  working_directory: &workdir_node10 ~/node-zwave-js/node10
  docker:
    - image: circleci/node:10

# use "latest" for lint and publish
latest: &latest
  working_directory: &workdir_latest ~/node-zwave-js/latest
  docker:
    - image: circleci/node:latest

# some job filters
tags_and_branches: &tags_and_branches
  filters:
    tags:
      only: /^v.*/

only_tags: &only_tags
  filters:
    tags:
      only: /^v.*/
    branches:
      ignore: /.*/

# Which files to preserve between jobs
whitelist: &whitelist
  paths:
    - build/*
    - node_modules/*
    - src/*
    - test/*
    - coverage/*
    - .npmignore
    - package.json
    - README.md
    - tsconfig.json
    - tsconfig.*.json
    - tslint.json

version: 2
jobs:
# ----------------------------------------------------
  test_node6:
    <<: *node6

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-node6-{{ checksum "package.json" }}

      - run:
          name: Remove unnecessary Dependencies
          command: npm ls || true ; npm prune
      - run:
          name: Install Dependencies
          command: npm install

      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-node6-{{ checksum "package.json" }}

      - run:
          name: Run component tests
          command: npm run test:ts

# ----------------------------------------------------
  test_node8:
    <<: *node8

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-node8-{{ checksum "package.json" }}

      - run:
          name: Remove unnecessary Dependencies
          command: npm ls || true ; npm prune
      - run:
          name: Install Dependencies
          command: npm install

      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-node8-{{ checksum "package.json" }}

      - run:
          name: Run component tests
          command: npm run test:ts

# ----------------------------------------------------
  test_node10:
    <<: *node10

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-node10-{{ checksum "package.json" }}

      - run:
          name: Remove unnecessary Dependencies
          command: npm ls || true ; npm prune
      - run:
          name: Install Dependencies
          command: npm install

      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-node10-{{ checksum "package.json" }}

      - run:
          name: Run component tests
          command: npm run test:ts

# ----------------------------------------------------
  test_latest:
    <<: *latest

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
          - v2-dependencies-latest-{{ checksum "package.json" }}

      - run:
          name: Remove unnecessary Dependencies
          command: npm ls || true ; npm prune
      - run:
          name: Install Dependencies
          command: npm install

      - save_cache:
          paths:
            - node_modules
          key: v2-dependencies-latest-{{ checksum "package.json" }}

      # on latest also lint the code
      - run:
          name: Lint TypeScript code
          command: npm run lint

      - run:
          name: Run component tests
          command: npm run test:ts

      # persist the build files, so we can pick them up in the deploy job
      - persist_to_workspace:
          root: *workdir_latest
          <<: *whitelist

# ----------------------------------------------------
# generates a clean build of the TypeScript sources
# to make sure there were no leftover build files
  coverage:
    <<: *latest

    steps:
      - attach_workspace:
          at: *workdir_latest

      - run:
          name: Generate coverage report
          command: npm run coverage

      - run:
          name: Upload it to coveralls.io
          command: if [[ $CIRCLE_BRANCH == pull* ]]; then echo "Skipping coverage upload for PR builds"; else COVERALLS_SERVICE_NAME="CircleCI" COVERALLS_SERVICE_JOB_ID="$CIRCLE_BUILD_NUM" npm run coveralls; fi

# ----------------------------------------------------
# generates a clean build of the TypeScript sources
# to make sure there were no leftover build files
  build:
    <<: *latest

    steps:
      - attach_workspace:
          at: *workdir_latest

      - run:
          name: Clean previous builds
          command: npm run prebuild

      - run:
          name: Build the source files
          command: npm run build

      - persist_to_workspace:
          root: *workdir_latest
          <<: *whitelist

# ----------------------------------------------------
# Deploys the final package to NPM
  deploy:
    <<: *latest

    steps:
      - attach_workspace:
          at: *workdir_latest

      - run:
          name: Login to npm
          command: npm config set //registry.npmjs.org/:_authToken=$NPM_TOKEN
      - run:
          name: Publish package to npm
          command: npm publish

# ----------------------------------------------------
# Fit it all together
workflows:
  version: 2

  test-and-deploy:
    jobs:
      # - test_node6:
      #     <<: *tags_and_branches
      - test_node8:
          <<: *tags_and_branches
      - test_node10:
          <<: *tags_and_branches
      - test_latest:
          <<: *tags_and_branches

      - coverage:
          requires:
            - test_latest
          <<: *tags_and_branches

      # build only on tagged builds and if all tests succeeded
      - build:
          requires:
            # - test_node6
            - test_node8
            - test_node10
            - test_latest
          <<: *only_tags

      # deploy only on tagged builds and if all tests succeeded
      - deploy:
          requires:
            - build
          <<: *only_tags
