name: Update CC implementation status

# Only run this on changes to the master branch
on:
  push:
    branches:
      - master

jobs:
  gh-cc-table:
    if: contains(github.event.head_commit.message, '[skip ci]') == false
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [12.x]

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}

    - name: Install dependencies
      run: npm ci

    - name: Compile TypeScript code
      run: npx lerna run build

    # The script will check if there are changes before updating the issue
    - name: Update CC table
      uses: ./.github/actions/gh-cc-table
      with:
        githubToken: ${{ secrets.GITHUB_TOKEN }}
      env:
        CI: true
