name: Update toLogEntry overview

# Only run this on changes to the master branch
on:
  push:
    branches:
      - master

jobs:
  generate-overview:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x] # This should be LTS

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'yarn'

    - name: Install dependencies
      run: yarn install --immutable

    - name: Compile TypeScript code
      run: yarn build

    - name: Update overview
      uses: ./.github/actions/toLogEntry
      with:
        githubToken: ${{ secrets.GITHUB_TOKEN }}
      env:
        CI: true
